<main class="container">

  <h1>Dominique Kleeven</h1>
  <h4>Software Engineer & Tech enthusiast</h4>


  <div class="icons">
    <a href="https://linkedin.com"><span class="mdi mdi-linkedin"></span></a>
    <a href="https://github.com"> <span class="mdi mdi-github"></span></a>
    <a href="mailto:dominique@kleeven.io"> <span class="mdi mdi-email"></span></a>

  </div>
  <hr>
  <h3>About Me <span class="mdi mdi-face-man"></span></h3>
  <p>
    I am a software engineer with a passion for the Internet of Things. I have a strong background in software
    development
    and a keen interest in electronics and embedded systems. I am always looking for new challenges and opportunities to
    learn and grow.
  </p>
  <h3>Skills <span class="mdi mdi-hammer-screwdriver"></span></h3>
  <div class="skills">
    <span class="mdi mdi-language-java"> Java</span>
    <span class="mdi mdi-language-kotlin"> Kotlin</span>
    <span class="mdi mdi-language-ruby"> Ruby</span>
    <span class="mdi mdi-language-lua"> Lua</span>
    <span class="mdi mdi-git"> Git</span>
    <span class="mdi mdi-docker"> Docker</span>
  </div>
  <hr>
  <h3>Projects <span class="mdi mdi-list-box-outline"></span></h3>
  <div class="projects">
    Some of my projects are listed below, for more projects feel free visit my <a href="https://github.com">GitHub</a>
    <br/>
    <br/>

    <div class="grid">
      <article>
        <a href="https://github.com"><h4>MQTT Gateway Interface</h4></a>


        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc tincidunt tincidunt. Nullam
          nec
          purus nec nunc tincidunt tincidunt. Nullam nec purus nec nunc tincidunt tincidunt. Nullam nec purus nec nunc
          tincidunt
          tincidunt.
        </p>

      </article>

      <article>
        <a href="https://github.com"><h4>3D Serial Printer Driver</h4></a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc tincidunt tincidunt. Nullam
          nec
          purus nec nunc tincidunt tincidunt. Nullam nec purus nec nunc tincidunt tincidunt. Nullam nec purus nec nunc
          tincidunt
          tincidunt.
        </p>
      </article>
    </div>
    <article>
      <a href="https://github.com"><h4>OpenRemote HomeAssistant Integration</h4></a>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc tincidunt tincidunt. Nullam
        nec
        purus nec nunc tincidunt tincidunt. Nullam nec purus nec nunc tincidunt tincidunt. Nullam nec purus nec nunc
        tincidunt
        tincidunt.
      </p>
    </article>


  </div>


</main>