<html lang="en">
<head>
  <title>Dominique Kleeven</title>
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/pico.jade.min.css">
  <!--  Mdi Icons-->
  <link rel="stylesheet" href="/css/mdi.css">
</head>

<body>
<%== yield %>
</body>
</html>