
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.icons {
    font-size: 1.2em !important;
}

.skills {
    font-size: 1.15em !important;
    display: flex;
    gap: 0.5em;
}


hr {
    border-top-color: var(--pico-primary-focus) !important;
}

article img {
    width: 100%;
    border-radius: 5px;
    height: 375px;
    max-height: 375px;
    object-fit: cover;
    margin-bottom: 15px;
}


